/******* Size and Spacing ********/
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 106px;
  width: 100%;
}

nav {
  height: 77px;
  margin-bottom: 0 !important;
}

.ntop {
  margin-top: 20px;
}

.mtop {
  margin-top: 40px;
}

.title {
  width: 100%;
  min-width: 250px;
}

.title, .nav-items {
  margin-top: 0;
  height: 75px;
  line-height: 75px;
}

.nav-items {
  height: 75px;
}

.page-header {
  margin: -10px auto 30px;
}

.logos div:nth-child(even) {
  padding-right: 10px;
  padding-left: 10px;
}

.logos div:first-child {
  padding-right: 5px;
}

.logos div:last-child {
  padding-left: 5px;
}

#bio {
  line-height: 30px;
  margin-top: -10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 106px;
}

/******** Color Styles *********/
.teal-background {
background-color: #4aaaa5;
}

.teal-text {
color: #4aaaa5;
}

.grey-text {
  color: #777777;
}

.white-background {
background-color: #ffffff;
}

.white-text {
color: #ffffff;
}

.bottom-border {
  border-radius: 0;
  border-bottom: 2px solid #cccccc;
}

.sborders {
  border-left: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
}

.footer {
  background-color: #666666;
  border-top: 6px solid #4aaaa5;
}

/********* Fonts and Text Formatting ************/
.serif {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.sans-serif {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.title {
  font-size: 30px;
}

h5 {
  font-size: 16px;
  font-weight: normal;
}

.footer {
  line-height: 90px;
}

/******* Images and Background Images ********/
.main-content {
  background: url(../images/ignasi_pattern_s.png);
  background-repeat: repeat;
  overflow: hidden;
}

#profilepic {
  width: 200px;
  margin: 0 20px 0 0;
}
