/******* Size and Spacing ********/
* {
  box-sizing: border-box;
}

nav {
  height: 77px;
}

.mtop {
  margin-top: 80px;
}

/******** Color Styles *********/
.teal-background {
  background-color: #4aaaa5;
}

.white-background {
  background-color: #ffffff;
}

.white-text {
  color: #ffffff;
}

/********* Fonts and Text Formatting ************/
.nav-title h1 {
  line-height: 0;
  font-size: 30px;
}

.serif {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

/******* Images and Background Images ********/
.background {
  background: url(../images/ignasi_pattern_s.png);
  background-repeat: repeat;
  overflow: hidden;
}
